*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: rgb(59, 44, 59);
}
header{
    padding-top: 50px;
    display: flex;
    order: 0;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 6px;
    color:  plum;
    border: solid 1px plum;
}
.alcinalogo{
    border-radius: 100%;
    max-width: 40%;
    margin-left: 10px;
    margin-top: 5px;
}

nav{
    order: 2;
}
.teali{
    margin-top: 315px;
margin-left: -190px;
    float: left;
    color: plum;
}
.teju{
    margin-top: -190px;
    color: plum;
    float: left;
    margin-left: 455px;
}
.teva{
    margin-top: -190px;
    color: plum;
    float: left;
    margin-left: 755px;
}
.teyas{
    margin-top: -190px;
    float: left;
    margin-left: 1120px;
    color: plum;
}
.resuju{
    margin-top: 350px;
    font-size: small;
    text-align: left;
    float: left;
    margin-left: -290px;
    color: plum;
}
.resuali{
    margin-top: 350px;
    font-size: small;
    text-align: left;
    float: left;
    margin-left: -290px;
    color: plum;
}
.resuva{
    margin-top: 350px;
    font-size: small;
    text-align: left;
    float: left;
    margin-left: -290px;
    color: plum;
}
.resuyas{
    font-size: small;
    text-align: left;
    float: left;
    margin-left: 30px;
    margin-top: 40px;
    color: plum;
}
.portifolioalisson{
    float: left;
    margin-top: 5px;
    border: 2px solid=plum;
    border-radius: 20px;
    margin-left: 10px;
}
.portifoliojulia{
margin-left: 30px;
float: left;
margin-top: 5px;
border: 2px solid=plum;
}
.portifoliovanessa{
    float: left;
    margin-left: 15px; 
    margin-top: 5px;
    border: 2px solid=plum;
}
.portifolioyasmin{
    margin-left: 20px;
    margin-top: 5px;
    float: left;
    border: 2px solid=plum;
}
li {
    list-style-type: none;
  }

footer{
    order: 3;
    border-top: solid 1px plum;
    margin-bottom: -5px;
    position:fixed;
    left: 0;
    bottom: 5px;
    width: 100%;
    background-color: rgb(17, 17, 17);
    color: white;
    text-align: center;
}

